@inject SignInManager<UserModel>  signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineExamPrepration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable();
        });
    </script>
</head>
<body>
    <header>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark" style="padding: .5rem; background-color: indigo">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/logo.jfif" width="40" height="40" />
                    <label class="px-1" style="position: relative; color: white; font-family: fantasy; font-size: x-large;">Exam Preparation System</label>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="home">
                                HOME
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="aboutus">
                                ABOUT US
                            </a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="home">
                                    View User
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="home">
                                    Add User
                                </a>
                            </li>
                        }


                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                        <li class="nav-item active">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link active">
                                    Logout
                                </button>
                            </form>
                        </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Display">
                                    Hello, @User.Identity.Name
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                                    Register
                                </a>
                            </li>
                        }


                    </ul>
                </div>

            </nav>
        </div>
    </header>
    <div class="my-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer style="background-color: indigo;" class="m-0">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="Home.aspx" class="nav-link px-2" style="color: white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2" style="color: white">About</a></li>
        </ul>
            <p class="text-center m-0" style="color: white; font-weight: bolder">© WDDN Project</p><br />
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
