
@{
}
<div class="container">
    <center>
        <div class="row m-auto">
            <div class="col-6 m-auto">

                <h1 class="text-danger">Access Denied</h1>
                <h3>@ViewBag.ErrorMessage</h3>
                <img src="~/imgs/denied-lou.gif" style="height:300px" />
            </div>
        </div>
    </center>
</div>
