@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var title = ViewBag.ErrorTitle;
    var message = ViewBag.ErrorMessage;
}

<div class="container">
    <h1 class="text-danger">@title.</h1>
    <h2 class="text-danger">@message</h2>
    <img src="~/imgs/email.gif" width="1100px" height="400px" />
</div>


