
@{
}
<div class="container">
    <div class="row">
        <div class="col-6 m-auto">
            <center>
                <h1 class="text-danger">404 Error</h1>
                <h3>@ViewBag.ErrorMessage</h3>
                <img src="~/imgs/404.gif" style="height:300px" />
            </center>
        </div>
    </div>
</div>