@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card" style="border-radius: 15px; box-shadow: 0 0 25px rgb(128 128 128)">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                            </div>

                        </div>

                        <center>
                            <input type="submit" class="btn btn-success" value="Submit" />
                        </center>
                    </div>
                </div>

            </div>
        </div>

    </form>
    <br />
    <br />
    <center>
        <img src="~/imgs/password.gif" width="500px" height="250px" />
    </center>
</div>
