<div class="container">
    <div class="row">
        <div classs="col-6">
            <h3>Mail is Sent to Your Entered Email for reset password with instructions<br />
            Please Check your Mail!
            </h3>
        </div>
    </div>
</div>