<div class="container">
    <div class="row">
        <div classs="col-6">
            <h3>Mail is Sent to Your Entered Email for reset password with instructions<br />
            Please Check your Mail!
            </h3>
            <img src="~/imgs/email.gif" width="1100px" height="400px"/>
        </div>
    </div>
</div>