<div class="container">
    <div class="row">
        <div classs="col-6">
            <h3>
                Password is Reseted ! Click <a asp-action="Login">Here</a> To login
            </h3>
        </div>
    </div>
</div>
