@{
    ViewBag.Title = "No Paper Found";
}
<div class="container">
    <div class="row">
        <div class="col-6 m-auto">
            <center>
                <img src="~/imgs/papernotfound.png" style="height:300px" />
                <h1 class="text-danger">The paper you requested to delete was not found.</h1>
            </center>
        </div>
    </div>
</div>
