@{
    ViewData["Title"] = "About Us";
}
<div class="container my-5">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card" style="border-radius: 15px; box-shadow: 0 0 25px rgb(128 128 128)">
                <div class="card-body">
                    <div style="text-align: center; margin: 6px">
                        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Online Exam Preparation Sytem</h1>
                    </div>
                    <hr style="height: 2px" />
                    <div>
                        <p class="m-4" style="text-align: justify">
                            Online Exam Preparation System basically help the students for understanding and practicing for many important examinations like Joint Entrance Examination (JEE),  National Eligibility Entrance Test (NEET) and Graduate Aptitude Test in Engineering (GATE).
                        </p>
                        <p class="m-4" style="text-align: justify">
                            It help students to practice more and more questions thus by making them comfortable and confident while giving examination on an online platform.
                        </p>
                        <p class="m-4" style="text-align: justify">
                            It also provide students to get get basic understanding of how and which types of questions are there in examinations.
                        </p>
                        <p class="m-4" style="text-align: justify">
                            This website is developed by:<br />
                            <strong>
                                <ul style="margin-left: 30px">
                                    <li>
                                        Roll No: CE056<br />
                                        Name: Aakarsh Inamdar<br />
                                        Email: inamdaraakarsh@gmail.com<br />
                                    </li>
                                    <br />
                                    <li>
                                        Roll No: CE057<br />
                                        Name: Sahil Jariwala<br />
                                        Email: sahiljariwala6@gmail.com<br />
                                    </li>
                                </ul>
                            </strong>
                        </p>
                        <p class="m-4" style="text-align: justify">
                            This website is developed as a part of Submission of Web Development in .NET Framework course under the guidance of
                            <strong>Prof. Apurva Mehta</strong>.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>