@model QuizViewModel

<div class="container">
    <h1>Create New Quiz</h1>
    <hr />
    <form method="post" asp-controller="Quiz" asp-action="AddQuiz">
        <div class="container ml-0 mr-0">
            <div class="row">
                <div class="col-4">
                    <select class="form-select form-select-lg" style="width: 80%; overflow-y: hidden; height: 80%" asp-for="Exam" asp-items="Html.GetEnumSelectList<exam>()">
                    </select>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <input id="Easy" type="radio" name="Level" value="Easy" checked asp-for="Level"/><label for="Easy" asp-for="Level" class="mr-4">Easy</label>
                        <input id="Medium" type="radio" name="Level" value="Medium" asp-for="Level"/><label for="Medium" asp-for="Level" class="mr-4">Medium</label>
                        <input id="Hard" type="radio" name="Level" value="Hard" asp-for="Level"/><label for="Hard" asp-for="Level" class="mr-4">Hard</label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label asp-for="Question"><b>Question</b></label>
                    <textarea id="Question" rows="2" style="width:100%" asp-for="Question"></textarea>
                    <span asp-validation-for="Question" class="text-danger"></span>
                    <br />
                </div>
            </div>
        </div><br />
        <div class="row mb-4">
            <div class="col-5">
                <div class="form-group">
                    Option A.
                    <input id="A" type="text" class="ml-2" style="width:50%" asp-for="OptionA" /><br />
                    <span asp-validation-for="OptionA" class="text-danger"></span>
                    
                </div>
            </div>

            <div class="col-5">
                <div class="form-group">
                    Option B.
                    <input id="B" type="text" class="ml-2" style="width:50%" asp-for="OptionB" /><br />
                    <span asp-validation-for="OptionB" class="text-danger"></span>
                    
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-5">
                <div class="form-group">
                    Option C.
                    <input id="C" type="text" class="ml-2" style="width:50%" asp-for="OptionC" /><br />
                    <span asp-validation-for="OptionC" class="text-danger"></span>
                    
                </div>
            </div>

            <div class="col-5">
                <div class="form-group">
                    Option D.
                    <input id="D" type="text" class="ml-2" style="width:50%" asp-for="OptionD" /><br />
                    <span asp-validation-for="OptionD" class="text-danger"></span>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>ANSWER</label>
                    <input id="ans" type="text" style="width: 90%" asp-for="Answer" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label>Solution</label>
                    <textarea id="sol" rows="2" style="width:100%" asp-for="Solution"></textarea>
                    <span asp-validation-for="Solution" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="form-group" style="display: inline;">
                    <input id="Submit" type="submit" value="Submit" class="btn btn-success mr-5" style="width:100px; height:45px" />
                    <a asp-controller="Quiz" asp-action="ViewQuiz" class="btn btn-danger mr-5" style="width: 100px; height: 45px" >
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
