<div class="container">
    <h1 style="display: inline-block">MOCK QUIZ</h1>
    <a class="btn btn-dark mt-4 m-1" asp-area="" asp-controller="Quiz" asp-action="AddQuiz" Style="float: right">
        ADD QUIZ
    </a>
    <a class="btn btn-dark mt-4 m-1" asp-area="" asp-controller="Quiz" asp-action="UpdateQuiz" Style="float: right">
        UPDATE QUIZ
    </a>
    <hr />
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <asp:Button ID="Button1" runat="server" Text="EASY" class="btn btn-success mx-3 btn-lg" OnClick="Button1_Click" />
        <asp:Button ID="Button2" runat="server" Text="MEDIUM" CssClass="btn btn-warning mx-3 btn-lg" OnClick="Button2_Click" />
        <asp:Button ID="Button3" runat="server" Text="HARD" CssClass="btn btn-danger btn-lg mx-3" OnClick="Button3_Click" />

    </div>
    <asp:Label ID="scoreValue" runat="server" CssClass="btn btn-info btn-lg mx-3 float-right" Visible="False"></asp:Label>
    <hr />

    <asp:Repeater ID="Repeater1" runat="server">
        <ItemTemplate>
            <table class="table table-bordered table-sm my-2">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <input id="Hidden1" type="hidden" value='<%#Eval("Id") %>' />
                            <div class="py-2 h5"><b>Q.<%#Eval("question") %></b></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 choice">
                                <label class="options">
                                    <asp:RadioButton ID="option_a" runat="server" Text='<%#Eval("option_a") %>' GroupName="ques" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="options">
                                    <asp:RadioButton ID="option_b" runat="server" Text='<%#Eval("option_b") %>' GroupName="ques" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="options">
                                    <asp:RadioButton ID="option_c" runat="server" Text='<%#Eval("option_c") %>' GroupName="ques" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="options">
                                    <asp:RadioButton ID="option_d" runat="server" Text='<%#Eval("option_d") %>' GroupName="ques" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <br />
                            <asp:Label ID="Label1" runat="server" Text="ANS: " Visible="false" CssClass="my-2 fs-4" ForeColor="Lime"></asp:Label>

                            <asp:Label ID="CorrectAns" runat="server" Text='<%#Eval("ans") %>' Visible="false" CssClass=" fs-4" ForeColor="Lime"></asp:Label><br />

                            <asp:Label ID="SelectedAns" runat="server" Text=""></asp:Label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ItemTemplate>
    </asp:Repeater>

    <asp:Button ID="Submit" runat="server" Text="Submit" OnClick="Submit_Click" class="btn btn-success" />
</div>